<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write New Chat</title>
</head>
<body>
  <h2>Write new chat..</h2>
  <form action="">
    <input type="text" placeholder="sender" name="from">
    <textarea name="msg">write your message here..</textarea>
    <input type="text" placeholder="reciver" name="to">
  </form>
</body>
</html>