/* main */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  /* font-family: 'Plus Jakarta Sans', sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 600 !important;
  margin-top: 1rem !important;
}

/* Navbar */

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.logo-txt {
  color: #fe424d !important;
  font-weight: bold !important;
  font-size: 1.3rem !important;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Cards */

.card {
  border: none !important;
  margin-bottom: 2rem !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 16rem !important;
  /* object-fit: cover !important; */
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */

.card-img-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
} */

/* New Page */

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */

.show-img {
  height: 40vh !important;
  width: 100% !important;
  object-fit: cover !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .show-img {
    width: 100% !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) and (min-height: 1366px) {
  .show-img {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1025px) {
  .show-img {
    width: 75% !important;
  }
}

/* Review */
.rating {
  display: inline-block;
}

.star {
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
  transition: color 0.2s;
}

.star.selected {
  color: #ffc107;
}

/* Index Page */

#filters-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#filters {
  display: flex;
  align-items: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
  font-size: 0.9rem;
}
.tax-toggle {
  /* border: 1px solid rgb(143, 143, 143); */
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

@media (max-width: 767.98px) {
  /* Extra small devices (phones) */
  #filters-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .filter {
    margin-right: 1rem;
  }
  .tax-toggle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #filters-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 1.3rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .filter {
    margin-right: 1rem;
  }
  .tax-toggle {
    display: none;
  }
}

@media (min-width: 992px) and (max-device-width: 1024px) {
  .tax-toggle {
    display: inline;
  }
}

@media (min-width: 1024px) and (min-height: 1036px) {
  #filters-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 4.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tax-toggle {
    display: none;
  }
}
