<% layout('/layouts/boilerplate') %>
<body>
  <div class="container">
    <h3>All Listings</h3>
    <ul>
      <% for(let listing of allListings) { %>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>
      <% } %>
    </ul>
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
  </div>
</body>
