<% layout('/layouts/boilerplate') %>

<div id="filters-container">
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    <div class="tax-toggle border border-secondary-subtle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input border border-secondary-subtle"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
  <% for(let listing of allListings) { %>
  <div class="col">
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card h-100">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top card-img-effect"
          alt="listing_image"
        />
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
            <i class="tax-info">+18% GST</i>
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>
