<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WanderLust</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    form {
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
    }

    label {
      font-weight: bold;
      color: #333;
    }

    input[type="text"],
    input[type="url"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      font-family: 'poppins', sans-serif;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    button {
      background-color: #18181B;
      color: white;
      padding: 8px 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    button:hover {
      background-color: #2b2b2b;
    }
  </style>
</head>
<body>
  <form action="/listings" method="POST">
    <h3>Create a New Listing :)</h3>
    <label for="title">Title</label>
    <input type="text" id="title" name="listing[title]" required>
    
    <label for="description">Description</label>
    <textarea id="description" name="listing[description]" required></textarea>
    
    <label for="image">Image URL/Link</label>
    <input type="url" id="image" name="listing[image]" required>
    
    <label for="price">Price</label>
    <input type="number" id="price" name="listing[price]" required>
    
    <label for="location">Location</label>
    <input type="text" id="location" name="listing[location]" required>
    
    <label for="country">Country</label>
    <input type="text" id="country" name="listing[country]" required>
    
    <button type="submit">Add</button>
  </form>
</body>
</html>
