<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listings" method="POST" novalidate class="needs-validation">
      <h4>Create a New Listing</h4>
      <div class="mb-3">
        <label for="title" class="form-label"
          >Title<span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="title"
          name="listing[title]"
          class="form-control"
          placeholder="Add a catcy title"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"
          >Description <span class="text-danger">*</span></label
        >
        <textarea
          id="description"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="url"
          id="image"
          name="listing[image]"
          class="form-control"
          placeholder="enter image URL/Link"
        />
        <div class="valid-feedback">Default image selected.</div>
        <div class="invalid-feedback">Image URL/Link Should be valid.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label"
            >Price<span class="text-danger">*</span></label
          >
          <input
            type="number"
            id="price"
            name="listing[price]"
            class="form-control"
            placeholder="1100"
            min="0"
            required
          />
          <div class="invalid-feedback">Price Should be valid.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label"
            >Country<span class="text-danger">*</span></label
          >
          <input
            type="text"
            id="country"
            name="listing[country]"
            class="form-control"
            placeholder="India"
            required
          />
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label"
          >Location<span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="location"
          name="listing[location]"
          class="form-control"
          placeholder="Lucknow, Uttar pradesh"
          required
        />
        <div class="invalid-feedback">Location should be valid.</div>
      </div>

      <button type="submit" class="btn btn-dark add-btn mb-3">Add</button>
    </form>
  </div>
</div>
