<footer class="container-fluid bg-dark text-white">
  <div class="row justify-content-center align-items-center py-4">
    <div class="col-auto">
      <div class="row">
        <a href="#" class="col-auto text-white">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-instagram-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-twitter-square fa-lg"></i>
        </a>
        <a href="#" class="col-auto text-white">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>
    <div class="col-auto text-center text-md-left">
      &copy; WanderLust Private Limited
    </div>
    <div class="col-auto">
      <div class="row footer-links">
        <a href="/privacy" class="col-auto text-white">Privacy</a>
        <a href="/terms" class="col-auto text-white">Terms</a>
      </div>
    </div>
  </div>
</footer>
