<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page</h1>
  <h3> <%= 1 + 2 %></h3>
  <h3> <%= "abhay".toUpperCase() %></h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempora deleniti eligendi laudantium sunt, similique, dolorum excepturi illum temporibus minima amet mollitia. Sint obcaecati, eligendi voluptate beatae dolorum cum minus?
  </p>
  <button>Click me!</button>
</body>
</html>